@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}
    
<h1>Series Title: </h1>
<h1> @ViewBag.SeriesTitle</h1>
<h2>Issue Number: </h2>
<h2>@ViewBag.IssueNumber</h2>
<h5>Description</h5>
<h5>@Html.Raw(ViewBag.Description)</h5>
@if (ViewBag.Artists.Length > 0)
{
<h5>Artists:</h5>
<div>
        <ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li>* @artist</li>
            }
        </ul>
</div>
}
    